
<!DOCTYPE html>
<html>
<head>
    <title>Induction Motor Fault Detection</title>
</head>
<body>
    <h2>AI-Based Induction Motor Fault Detection</h2>
    <form method="post">
        <input name="mean" placeholder="Mean"><br>
        <input name="std" placeholder="Std Dev"><br>
        <input name="max" placeholder="Max"><br>
        <input name="min" placeholder="Min"><br>
        <input name="rms" placeholder="RMS"><br>
        <input name="kurtosis" placeholder="Kurtosis"><br>
        <input name="skew" placeholder="Skew"><br><br>
        <button type="submit">Predict Fault</button>
    </form>
    <h3>{{ result }}</h3>
</body>
</html>
